@model IEnumerable<Mvc.Areas.Admin.Models.CategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pagination = (Mvc.Areas.Admin.Models.PaginationModel)ViewBag.Pagination;
}
@section js{
    <script src="~/Scripts/JsAdmin/js/Category.js"></script>
}
@section css{
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách loại phim</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Metatitle</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên</th>
                            <th>Metatitle</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Công cụ</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="item-@item.ID">
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>@item.Metatitle</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.UserID</td>
                                    <td>
                                        <a href="/Admin/CategoryFilm/Edit/@item.ID" style="margin-right: 2px"><i class="fa-solid fa-pen color-edit"></i></a>
                                        <span class="_deleteCategory" data-bs-toggle="modal" data-bs-target="#deleteCategory"  data-id="@item.ID"><i class="fa-solid fa-trash color-trash" style="cursor: pointer"></i></span>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="row" style="justify-content: space-between;">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @pagination.Show to @pagination.ShowTo of @pagination.Total entries</div>
                </div>
                <div class="col-md-4">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            @if (pagination.Total > 1)
                            {
                                var pageDisplay = (int)(pagination.MaxPage);
                                long totalPage = (long)(pagination.TotalPage);
                                int currentPage = (int)(pagination.Page);
                                var start = 1;
                                var end = totalPage;
                                var link = "/admin/CategoryFilm";
                                if (currentPage > 1)
                                {
                                    <li class="paginate_button page-item previous" id="dataTable_previous">
                                        <a href="@link?page=@pagination.Prev" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                        <a href="@link?page=@pagination.Prev" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                }
                                for (int i = start; i <= end; i++)
                                {
                                    if (currentPage == i)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a href="@link?page=@i" aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item ">
                                            <a href="@link?page=@i" aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                                        </li>
                                    }
                                }
                                if (currentPage < totalPage)
                                {
                                    <li class="paginate_button page-item next" id="dataTable_next">
                                        <a href="@link?page=@pagination.Next" aria-controls="dataTable" data-dt-idx="@pagination.Next" tabindex="0" class="page-link">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="paginate_button page-item next disabled" id="dataTable_next">
                                        <a href="@link?page=@pagination.Next" aria-controls="dataTable" data-dt-idx="@pagination.Next" tabindex="0" class="page-link">Next</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc là muốn xóa loại phim này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                <button type="button" class="btn btn-primary btn-submit">Đồng ý</button>
            </div>
        </div>
    </div>
</div>